novacapa.sty
trabalho.aux
trabalho.bbl
trabalho.blg
trabalho.brf
trabalho.idx
trabalho.lof
trabalho.log
trabalho.lot
trabalho.toc
introducao.aux
texput.log
trabalho.exp
trabalho.qud
trabalho.synctex.gz
.fuse_hidden*
